$gray-color: #ccc;

.filter-wrapper {
  display: flex;
  padding: 1rem;
  border-top: 1px solid $gray-color;
  border-bottom: 1px solid $gray-color;
  // margin: 0 -.5rem;

  li {
    margin: 0 .5rem;
    &.active button{
      background: #999;
      color:#fff;
    }
  }

  button {    
    padding: .5rem;
    border: 1px solid $gray-color;
    border-radius: 4px;
  }
}