.App {
  padding: 1rem;
}

$gray-color: #ccc;

// 랭킹 리스트 박스
.rank-list {
  position: relative;
  width: calc(1200px - 2rem);
  padding: 1rem 0 240px;
  margin: 0 auto;
  >ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    >li {
      width: calc(50% - 2rem);
      padding: 1rem;
      border: 1px solid $gray-color;
      margin: 1rem;
    }
  }
  @media (max-width: 1200px) {
    width: 100%;
    >ul>li {
      width: 100%;
      // margin: 1rem 0;
    }
  }
}

.comics-wrapper {
  display: flex;
}

// 썸네일
.img-wrapper {
  figcaption {
    display: none;
  }
}

// 랭크
.rank-wrapper {
  padding: 0 1rem;
  p {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
  }
  .rank-up {
    color: rgb(255, 59, 59);
  }
  .rank-down {
    color: rgb(47, 113, 255);
  }
}

// 만화 정보 
.info-wrapper {
  position: relative;
  padding: .6rem;
  .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

// 작가 정보
.artist-list {
  // display: flex;
  li {
    display: inline-block;
    margin-right: .2rem;
  }
}

// 로딩 박스
.loading-wrapper {
  position: absolute;
  bottom : 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  padding: 2rem 0;
  margin: 4rem auto;
  background: $gray-color;
  text-align: center;
}